In [82]:
import pandas as pd
from datetime import datetime

In [83]:
metrics = pd.read_csv("Daily_raw.csv")

In [84]:
metrics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name?                9 non-null      object
 1   Ready (t)            9 non-null      object
 2   Break (t)            9 non-null      object
 3   Lunch (t)            9 non-null      object
 4   Submitting Lead (t)  9 non-null      object
 5   Bathroom (t)         9 non-null      object
 6   DEAD TIME (t)        9 non-null      object
 7   Logged calls         9 non-null      int64
 8   Ready:Talk Time      9 non-null      object
 9   Ready:Wrap Time      9 non-null      object
dtypes: int64(1), object(9)
memory usage: 852.0+ bytes

In [85]:
metrics[
    ["Break (t)", "Lunch (t)", "Submitting Lead (t)", "Bathroom (t)", "Ready:Wrap Time"]
    ]  = "00:" + metrics[
        ["Break (t)", "Lunch (t)", "Submitting Lead (t)", "Bathroom (t)", "Ready:Wrap Time"]]

metrics

,Name?,Ready (t),Break (t),Lunch (t),Submitting Lead (t),Bathroom (t),DEAD TIME (t),Logged calls,Ready:Talk Time,Ready:Wrap Time
0,GTFrank,5 hours 36 min.,00:34 min. 55 s.,00:59 min. 43 s.,00:9 min. 12 s.,00:5 min. 1 s.,8 min. 17 s.,368,2 hours 43 min.,00:22 min. 49 s.
1,HBigC,1 hours 16 min.,00:18 min. 23 s.,00:-,00:9 min. 23 s.,00:-,2 min. 42 s.,75,36 min. 1 s.,00:11 min. 23 s.
2,GJason,5 hours 33 min.,00:39 min. 4 s.,00:1 hours 1 min.,00:9 min. 46 s.,00:13 s.,1 min. 57 s.,449,2 hours 27 min.,00:15 min. 51 s.
3,GTSteven,5 hours 38 min.,00:40 min. 13 s.,00:1 hours 1 min.,00:3 min. 20 s.,00:2 min. 8 s.,1 min. 1 s.,346,2 hours 56 min.,00:29 min. 38 s.
4,GGOscar,5 hours 54 min.,00:39 min. 29 s.,00:59 min. 53 s.,00:3 min. 35 s.,00:4 min. 28 s.,-,476,2 hours 27 min.,00:21 min. 15 s.
5,HLizz,1 hours 25 min.,00:18 min. 55 s.,00:-,00:3 min. 3 s.,00:-,-,112,35 min. 21 s.,00:4 min. 14 s.
6,GMark,5 hours 38 min.,00:40 min. 23 s.,00:59 min. 34 s.,00:10 s.,00:2 min. 59 s.,-,408,2 hours 41 min.,00:18 min. 44 s.
7,GTJessy,5 hours 40 min.,00:41 min. 41 s.,00:59 min. 37 s.,00:5 min. 42 s.,00:1 min. 31 s.,-,464,2 hours 9 min.,00:23 min. 47 s.
8,AdminCalls,35 min. 36 s.,00:-,00:-,00:-,00:-,-,43,12 min. 57 s.,00:2 min. 2 s.

In [86]:
metrics[["Ready (t)", "Break (t)", "Lunch (t)", "Ready:Talk Time"]] = metrics[
    ["Ready (t)", "Break (t)", "Lunch (t)", "Ready:Talk Time"]].apply(
        lambda x: x.replace({"hours": ":"}, regex=True)
    )

metrics[["Ready (t)", "Break (t)", "Lunch (t)", "Ready:Talk Time"]] = metrics[
    ["Ready (t)", "Break (t)", "Lunch (t)", "Ready:Talk Time"]].apply(
        lambda x: x.replace({"min.": ":00"}, regex=True)
    )


metrics

,Name?,Ready (t),Break (t),Lunch (t),Submitting Lead (t),Bathroom (t),DEAD TIME (t),Logged calls,Ready:Talk Time,Ready:Wrap Time
0,GTFrank,5 : 36 :00,00:34 :00 55 s.,00:59 :00 43 s.,00:9 min. 12 s.,00:5 min. 1 s.,8 min. 17 s.,368,2 : 43 :00,00:22 min. 49 s.
1,HBigC,1 : 16 :00,00:18 :00 23 s.,00:-,00:9 min. 23 s.,00:-,2 min. 42 s.,75,36 :00 1 s.,00:11 min. 23 s.
2,GJason,5 : 33 :00,00:39 :00 4 s.,00:1 : 1 :00,00:9 min. 46 s.,00:13 s.,1 min. 57 s.,449,2 : 27 :00,00:15 min. 51 s.
3,GTSteven,5 : 38 :00,00:40 :00 13 s.,00:1 : 1 :00,00:3 min. 20 s.,00:2 min. 8 s.,1 min. 1 s.,346,2 : 56 :00,00:29 min. 38 s.
4,GGOscar,5 : 54 :00,00:39 :00 29 s.,00:59 :00 53 s.,00:3 min. 35 s.,00:4 min. 28 s.,-,476,2 : 27 :00,00:21 min. 15 s.
5,HLizz,1 : 25 :00,00:18 :00 55 s.,00:-,00:3 min. 3 s.,00:-,-,112,35 :00 21 s.,00:4 min. 14 s.
6,GMark,5 : 38 :00,00:40 :00 23 s.,00:59 :00 34 s.,00:10 s.,00:2 min. 59 s.,-,408,2 : 41 :00,00:18 min. 44 s.
7,GTJessy,5 : 40 :00,00:41 :00 41 s.,00:59 :00 37 s.,00:5 min. 42 s.,00:1 min. 31 s.,-,464,2 : 9 :00,00:23 min. 47 s.
8,AdminCalls,35 :00 36 s.,00:-,00:-,00:-,00:-,-,43,12 :00 57 s.,00:2 min. 2 s.

In [87]:
metrics[["Break (t)", "Lunch (t)", "Submitting Lead (t)", "Bathroom (t)", "Ready:Wrap Time"]
        ] = metrics[
    ["Break (t)", "Lunch (t)", "Submitting Lead (t)", "Bathroom (t)", "Ready:Wrap Time"]
        ].apply(lambda x: x.replace({"min.": ":"}, regex=True))

In [88]:
metrics

,Name?,Ready (t),Break (t),Lunch (t),Submitting Lead (t),Bathroom (t),DEAD TIME (t),Logged calls,Ready:Talk Time,Ready:Wrap Time
0,GTFrank,5 : 36 :00,00:34 :00 55 s.,00:59 :00 43 s.,00:9 : 12 s.,00:5 : 1 s.,8 min. 17 s.,368,2 : 43 :00,00:22 : 49 s.
1,HBigC,1 : 16 :00,00:18 :00 23 s.,00:-,00:9 : 23 s.,00:-,2 min. 42 s.,75,36 :00 1 s.,00:11 : 23 s.
2,GJason,5 : 33 :00,00:39 :00 4 s.,00:1 : 1 :00,00:9 : 46 s.,00:13 s.,1 min. 57 s.,449,2 : 27 :00,00:15 : 51 s.
3,GTSteven,5 : 38 :00,00:40 :00 13 s.,00:1 : 1 :00,00:3 : 20 s.,00:2 : 8 s.,1 min. 1 s.,346,2 : 56 :00,00:29 : 38 s.
4,GGOscar,5 : 54 :00,00:39 :00 29 s.,00:59 :00 53 s.,00:3 : 35 s.,00:4 : 28 s.,-,476,2 : 27 :00,00:21 : 15 s.
5,HLizz,1 : 25 :00,00:18 :00 55 s.,00:-,00:3 : 3 s.,00:-,-,112,35 :00 21 s.,00:4 : 14 s.
6,GMark,5 : 38 :00,00:40 :00 23 s.,00:59 :00 34 s.,00:10 s.,00:2 : 59 s.,-,408,2 : 41 :00,00:18 : 44 s.
7,GTJessy,5 : 40 :00,00:41 :00 41 s.,00:59 :00 37 s.,00:5 : 42 s.,00:1 : 31 s.,-,464,2 : 9 :00,00:23 : 47 s.
8,AdminCalls,35 :00 36 s.,00:-,00:-,00:-,00:-,-,43,12 :00 57 s.,00:2 : 2 s.

In [89]:
metrics[["Break (t)", "Lunch (t)", "Submitting Lead (t)", "Bathroom (t)", "Ready:Wrap Time"]
        ] = metrics[
    ["Break (t)", "Lunch (t)", "Submitting Lead (t)", "Bathroom (t)", "Ready:Wrap Time"]
        ].apply(lambda x: x.replace({"s.": ""}, regex=True))

In [90]:
metrics

,Name?,Ready (t),Break (t),Lunch (t),Submitting Lead (t),Bathroom (t),DEAD TIME (t),Logged calls,Ready:Talk Time,Ready:Wrap Time
0,GTFrank,5 : 36 :00,00:34 :00 55,00:59 :00 43,00:9 : 12,00:5 : 1,8 min. 17 s.,368,2 : 43 :00,00:22 : 49
1,HBigC,1 : 16 :00,00:18 :00 23,00:-,00:9 : 23,00:-,2 min. 42 s.,75,36 :00 1 s.,00:11 : 23
2,GJason,5 : 33 :00,00:39 :00 4,00:1 : 1 :00,00:9 : 46,00:13,1 min. 57 s.,449,2 : 27 :00,00:15 : 51
3,GTSteven,5 : 38 :00,00:40 :00 13,00:1 : 1 :00,00:3 : 20,00:2 : 8,1 min. 1 s.,346,2 : 56 :00,00:29 : 38
4,GGOscar,5 : 54 :00,00:39 :00 29,00:59 :00 53,00:3 : 35,00:4 : 28,-,476,2 : 27 :00,00:21 : 15
5,HLizz,1 : 25 :00,00:18 :00 55,00:-,00:3 : 3,00:-,-,112,35 :00 21 s.,00:4 : 14
6,GMark,5 : 38 :00,00:40 :00 23,00:59 :00 34,00:10,00:2 : 59,-,408,2 : 41 :00,00:18 : 44
7,GTJessy,5 : 40 :00,00:41 :00 41,00:59 :00 37,00:5 : 42,00:1 : 31,-,464,2 : 9 :00,00:23 : 47
8,AdminCalls,35 :00 36 s.,00:-,00:-,00:-,00:-,-,43,12 :00 57 s.,00:2 : 2

In [91]:
metrics[["Ready (t)", "Break (t)", "Lunch (t)"]] = metrics[
    ["Ready (t)", "Break (t)", "Lunch (t)"]].apply(
        lambda x: x.replace({"00:1 : 1 :00": "01:01:00"}, regex=True))

metrics[["Ready (t)", "Break (t)", "Lunch (t)"]] = metrics[
    ["Ready (t)", "Break (t)", "Lunch (t)"]].apply(
        lambda x: x.replace({"00:1 : 2 :00": "01:00:00"}, regex=True))

metrics[["Ready (t)", "Break (t)", "Lunch (t)"]] = metrics[
    ["Ready (t)", "Break (t)", "Lunch (t)"]].apply(
        lambda x: x.replace({"00:60 :00 0": "01:00:00"}, regex=True))

In [92]:
metrics

,Name?,Ready (t),Break (t),Lunch (t),Submitting Lead (t),Bathroom (t),DEAD TIME (t),Logged calls,Ready:Talk Time,Ready:Wrap Time
0,GTFrank,5 : 36 :00,00:34 :00 55,00:59 :00 43,00:9 : 12,00:5 : 1,8 min. 17 s.,368,2 : 43 :00,00:22 : 49
1,HBigC,1 : 16 :00,00:18 :00 23,00:-,00:9 : 23,00:-,2 min. 42 s.,75,36 :00 1 s.,00:11 : 23
2,GJason,5 : 33 :00,00:39 :00 4,01:01:00,00:9 : 46,00:13,1 min. 57 s.,449,2 : 27 :00,00:15 : 51
3,GTSteven,5 : 38 :00,00:40 :00 13,01:01:00,00:3 : 20,00:2 : 8,1 min. 1 s.,346,2 : 56 :00,00:29 : 38
4,GGOscar,5 : 54 :00,00:39 :00 29,00:59 :00 53,00:3 : 35,00:4 : 28,-,476,2 : 27 :00,00:21 : 15
5,HLizz,1 : 25 :00,00:18 :00 55,00:-,00:3 : 3,00:-,-,112,35 :00 21 s.,00:4 : 14
6,GMark,5 : 38 :00,00:40 :00 23,00:59 :00 34,00:10,00:2 : 59,-,408,2 : 41 :00,00:18 : 44
7,GTJessy,5 : 40 :00,00:41 :00 41,00:59 :00 37,00:5 : 42,00:1 : 31,-,464,2 : 9 :00,00:23 : 47
8,AdminCalls,35 :00 36 s.,00:-,00:-,00:-,00:-,-,43,12 :00 57 s.,00:2 : 2

In [93]:
metrics["Ready (t)"] = metrics["Ready (t)"].str.replace(" ", "")
metrics["Break (t)"] = metrics["Break (t)"].str.replace(" ", "")
metrics["Lunch (t)"] = metrics["Lunch (t)"].str.replace(" ", "")
metrics["Submitting Lead (t)"] = metrics["Submitting Lead (t)"].str.replace(" ", "")
metrics["Bathroom (t)"] = metrics["Bathroom (t)"].str.replace(" ", "")
metrics["DEAD TIME (t)"] = metrics["DEAD TIME (t)"].str.replace(" ", "")
metrics["Ready:Talk Time"] = metrics["Ready:Talk Time"].str.replace(" ", "")
metrics["Ready:Wrap Time"] = metrics["Ready:Wrap Time"].str.replace(" ", "")


metrics

,Name?,Ready (t),Break (t),Lunch (t),Submitting Lead (t),Bathroom (t),DEAD TIME (t),Logged calls,Ready:Talk Time,Ready:Wrap Time
0,GTFrank,5:36:00,00:34:0055,00:59:0043,00:9:12,00:5:1,8min.17s.,368,2:43:00,00:22:49
1,HBigC,1:16:00,00:18:0023,00:-,00:9:23,00:-,2min.42s.,75,36:001s.,00:11:23
2,GJason,5:33:00,00:39:004,01:01:00,00:9:46,00:13,1min.57s.,449,2:27:00,00:15:51
3,GTSteven,5:38:00,00:40:0013,01:01:00,00:3:20,00:2:8,1min.1s.,346,2:56:00,00:29:38
4,GGOscar,5:54:00,00:39:0029,00:59:0053,00:3:35,00:4:28,-,476,2:27:00,00:21:15
5,HLizz,1:25:00,00:18:0055,00:-,00:3:3,00:-,-,112,35:0021s.,00:4:14
6,GMark,5:38:00,00:40:0023,00:59:0034,00:10,00:2:59,-,408,2:41:00,00:18:44
7,GTJessy,5:40:00,00:41:0041,00:59:0037,00:5:42,00:1:31,-,464,2:9:00,00:23:47
8,AdminCalls,35:0036s.,00:-,00:-,00:-,00:-,-,43,12:0057s.,00:2:2

In [94]:
metrics[
    ["Ready (t)", "Break (t)", "Lunch (t)", "Submitting Lead (t)", 
    "Bathroom (t)", "DEAD TIME (t)", "Ready:Talk Time", "Ready:Wrap Time"]
] = metrics[
    ["Ready (t)", "Break (t)", "Lunch (t)", "Submitting Lead (t)", 
    "Bathroom (t)", "DEAD TIME (t)", "Ready:Talk Time", "Ready:Wrap Time"]
].apply(
        lambda x: x.replace({"00:-": "00:00:00", "-": "00:00:00"}, regex=True))

In [95]:
metrics["DEAD TIME (t)"] = "00:" + metrics["DEAD TIME (t)"].astype("object")

In [96]:
metrics["DEAD TIME (t)"] = metrics["DEAD TIME (t)"].str.replace("min.", ":")

metrics

,Name?,Ready (t),Break (t),Lunch (t),Submitting Lead (t),Bathroom (t),DEAD TIME (t),Logged calls,Ready:Talk Time,Ready:Wrap Time
0,GTFrank,5:36:00,00:34:0055,00:59:0043,00:9:12,00:5:1,00:8:17s.,368,2:43:00,00:22:49
1,HBigC,1:16:00,00:18:0023,00:00:00,00:9:23,00:00:00,00:2:42s.,75,36:001s.,00:11:23
2,GJason,5:33:00,00:39:004,01:01:00,00:9:46,00:13,00:1:57s.,449,2:27:00,00:15:51
3,GTSteven,5:38:00,00:40:0013,01:01:00,00:3:20,00:2:8,00:1:1s.,346,2:56:00,00:29:38
4,GGOscar,5:54:00,00:39:0029,00:59:0053,00:3:35,00:4:28,00:00:00:00,476,2:27:00,00:21:15
5,HLizz,1:25:00,00:18:0055,00:00:00,00:3:3,00:00:00,00:00:00:00,112,35:0021s.,00:4:14
6,GMark,5:38:00,00:40:0023,00:59:0034,00:10,00:2:59,00:00:00:00,408,2:41:00,00:18:44
7,GTJessy,5:40:00,00:41:0041,00:59:0037,00:5:42,00:1:31,00:00:00:00,464,2:9:00,00:23:47
8,AdminCalls,35:0036s.,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00:00,43,12:0057s.,00:2:2

In [97]:
metrics["DEAD TIME (t)"] = metrics["DEAD TIME (t)"].str.replace("s.", "")
metrics["DEAD TIME (t)"] = metrics["DEAD TIME (t)"].str.replace("00:00:00:00", "00:00:00")
metrics

,Name?,Ready (t),Break (t),Lunch (t),Submitting Lead (t),Bathroom (t),DEAD TIME (t),Logged calls,Ready:Talk Time,Ready:Wrap Time
0,GTFrank,5:36:00,00:34:0055,00:59:0043,00:9:12,00:5:1,00:8:17,368,2:43:00,00:22:49
1,HBigC,1:16:00,00:18:0023,00:00:00,00:9:23,00:00:00,00:2:42,75,36:001s.,00:11:23
2,GJason,5:33:00,00:39:004,01:01:00,00:9:46,00:13,00:1:57,449,2:27:00,00:15:51
3,GTSteven,5:38:00,00:40:0013,01:01:00,00:3:20,00:2:8,00:1:1,346,2:56:00,00:29:38
4,GGOscar,5:54:00,00:39:0029,00:59:0053,00:3:35,00:4:28,00:00:00,476,2:27:00,00:21:15
5,HLizz,1:25:00,00:18:0055,00:00:00,00:3:3,00:00:00,00:00:00,112,35:0021s.,00:4:14
6,GMark,5:38:00,00:40:0023,00:59:0034,00:10,00:2:59,00:00:00,408,2:41:00,00:18:44
7,GTJessy,5:40:00,00:41:0041,00:59:0037,00:5:42,00:1:31,00:00:00,464,2:9:00,00:23:47
8,AdminCalls,35:0036s.,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,43,12:0057s.,00:2:2

In [98]:
for row in metrics["Submitting Lead (t)"].items():
    if len(row) == [3,4,5]:
        print("A huevo")

In [99]:
metrics["Submitting Lead (t)"] = metrics["Submitting Lead (t)"].apply(
        lambda x: x if len(x) > 5 else '00:' + x)

metrics["Bathroom (t)"] = metrics["Bathroom (t)"].apply(
        lambda x: x if len(x) > 5 else '00:' + x)

metrics["DEAD TIME (t)"] = metrics["DEAD TIME (t)"].apply(
        lambda x: x if len(x) > 5 else '00:' + x)

In [100]:
metrics

,Name?,Ready (t),Break (t),Lunch (t),Submitting Lead (t),Bathroom (t),DEAD TIME (t),Logged calls,Ready:Talk Time,Ready:Wrap Time
0,GTFrank,5:36:00,00:34:0055,00:59:0043,00:9:12,00:5:1,00:8:17,368,2:43:00,00:22:49
1,HBigC,1:16:00,00:18:0023,00:00:00,00:9:23,00:00:00,00:2:42,75,36:001s.,00:11:23
2,GJason,5:33:00,00:39:004,01:01:00,00:9:46,00:00:13,00:1:57,449,2:27:00,00:15:51
3,GTSteven,5:38:00,00:40:0013,01:01:00,00:3:20,00:2:8,00:1:1,346,2:56:00,00:29:38
4,GGOscar,5:54:00,00:39:0029,00:59:0053,00:3:35,00:4:28,00:00:00,476,2:27:00,00:21:15
5,HLizz,1:25:00,00:18:0055,00:00:00,00:3:3,00:00:00,00:00:00,112,35:0021s.,00:4:14
6,GMark,5:38:00,00:40:0023,00:59:0034,00:00:10,00:2:59,00:00:00,408,2:41:00,00:18:44
7,GTJessy,5:40:00,00:41:0041,00:59:0037,00:5:42,00:1:31,00:00:00,464,2:9:00,00:23:47
8,AdminCalls,35:0036s.,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,43,12:0057s.,00:2:2

In [101]:
metrics[["Submitting Lead (t)", "Bathroom (t)", "DEAD TIME (t)"]] = metrics[
    ["Submitting Lead (t)", "Bathroom (t)", "DEAD TIME (t)"]].astype("datetime64[s]")

In [102]:
metrics["DEAD TIME (t)"] = pd.to_datetime(metrics["DEAD TIME (t)"], format='%H:%M:%S')

metrics.index = metrics.index +1

In [103]:
metrics

,Name?,Ready (t),Break (t),Lunch (t),Submitting Lead (t),Bathroom (t),DEAD TIME (t),Logged calls,Ready:Talk Time,Ready:Wrap Time
1,GTFrank,5:36:00,00:34:0055,00:59:0043,1-01-01 00:09:12,1-01-01 00:05:01,1-01-01 00:08:17,368,2:43:00,00:22:49
2,HBigC,1:16:00,00:18:0023,00:00:00,1-01-01 00:09:23,2024-12-13 00:00:00,1-01-01 00:02:42,75,36:001s.,00:11:23
3,GJason,5:33:00,00:39:004,01:01:00,1-01-01 00:09:46,2024-12-13 00:00:13,1-01-01 00:01:57,449,2:27:00,00:15:51
4,GTSteven,5:38:00,00:40:0013,01:01:00,1-01-01 00:03:20,1-01-01 00:02:08,1-01-01 00:01:01,346,2:56:00,00:29:38
5,GGOscar,5:54:00,00:39:0029,00:59:0053,1-01-01 00:03:35,1-01-01 00:04:28,2024-12-13 00:00:00,476,2:27:00,00:21:15
6,HLizz,1:25:00,00:18:0055,00:00:00,1-01-01 00:03:03,2024-12-13 00:00:00,2024-12-13 00:00:00,112,35:0021s.,00:4:14
7,GMark,5:38:00,00:40:0023,00:59:0034,2024-12-13 00:00:10,1-01-01 00:02:59,2024-12-13 00:00:00,408,2:41:00,00:18:44
8,GTJessy,5:40:00,00:41:0041,00:59:0037,1-01-01 00:05:42,1-01-01 00:01:31,2024-12-13 00:00:00,464,2:9:00,00:23:47
9,AdminCalls,35:0036s.,00:00:00,00:00:00,2024-12-13 00:00:00,2024-12-13 00:00:00,2024-12-13 00:00:00,43,12:0057s.,00:2:2

In [104]:
metrics["PENDING"] = pd.Series(dtype='int')

In [105]:
metrics["DAYS WORKED"] = pd.Series(dtype='int')

metrics

,Name?,Ready (t),Break (t),Lunch (t),Submitting Lead (t),Bathroom (t),DEAD TIME (t),Logged calls,Ready:Talk Time,Ready:Wrap Time,PENDING,DAYS WORKED
1,GTFrank,5:36:00,00:34:0055,00:59:0043,1-01-01 00:09:12,1-01-01 00:05:01,1-01-01 00:08:17,368,2:43:00,00:22:49,NaN,NaN
2,HBigC,1:16:00,00:18:0023,00:00:00,1-01-01 00:09:23,2024-12-13 00:00:00,1-01-01 00:02:42,75,36:001s.,00:11:23,NaN,NaN
3,GJason,5:33:00,00:39:004,01:01:00,1-01-01 00:09:46,2024-12-13 00:00:13,1-01-01 00:01:57,449,2:27:00,00:15:51,NaN,NaN
4,GTSteven,5:38:00,00:40:0013,01:01:00,1-01-01 00:03:20,1-01-01 00:02:08,1-01-01 00:01:01,346,2:56:00,00:29:38,NaN,NaN
5,GGOscar,5:54:00,00:39:0029,00:59:0053,1-01-01 00:03:35,1-01-01 00:04:28,2024-12-13 00:00:00,476,2:27:00,00:21:15,NaN,NaN
6,HLizz,1:25:00,00:18:0055,00:00:00,1-01-01 00:03:03,2024-12-13 00:00:00,2024-12-13 00:00:00,112,35:0021s.,00:4:14,NaN,NaN
7,GMark,5:38:00,00:40:0023,00:59:0034,2024-12-13 00:00:10,1-01-01 00:02:59,2024-12-13 00:00:00,408,2:41:00,00:18:44,NaN,NaN
8,GTJessy,5:40:00,00:41:0041,00:59:0037,1-01-01 00:05:42,1-01-01 00:01:31,2024-12-13 00:00:00,464,2:9:00,00:23:47,NaN,NaN
9,AdminCalls,35:0036s.,00:00:00,00:00:00,2024-12-13 00:00:00,2024-12-13 00:00:00,2024-12-13 00:00:00,43,12:0057s.,00:2:2,NaN,NaN

In [106]:
#AGENT / DAYS WORKED /TIME READY /PENDING APP /BREAK / LUNCH /SUBMIT LEAD /BATHROOM /DEAD TIME / TALK TIME /LOGGED CALLS / WRAP TIME

metrics = metrics[["Name?", "DAYS WORKED", "Ready (t)", "PENDING", "Break (t)", "Lunch (t)",
                    "Submitting Lead (t)", "Bathroom (t)", "DEAD TIME (t)", "Ready:Talk Time",
                    "Logged calls", "Ready:Wrap Time"]]

metrics

,Name?,DAYS WORKED,Ready (t),PENDING,Break (t),Lunch (t),Submitting Lead (t),Bathroom (t),DEAD TIME (t),Ready:Talk Time,Logged calls,Ready:Wrap Time
1,GTFrank,NaN,5:36:00,NaN,00:34:0055,00:59:0043,1-01-01 00:09:12,1-01-01 00:05:01,1-01-01 00:08:17,2:43:00,368,00:22:49
2,HBigC,NaN,1:16:00,NaN,00:18:0023,00:00:00,1-01-01 00:09:23,2024-12-13 00:00:00,1-01-01 00:02:42,36:001s.,75,00:11:23
3,GJason,NaN,5:33:00,NaN,00:39:004,01:01:00,1-01-01 00:09:46,2024-12-13 00:00:13,1-01-01 00:01:57,2:27:00,449,00:15:51
4,GTSteven,NaN,5:38:00,NaN,00:40:0013,01:01:00,1-01-01 00:03:20,1-01-01 00:02:08,1-01-01 00:01:01,2:56:00,346,00:29:38
5,GGOscar,NaN,5:54:00,NaN,00:39:0029,00:59:0053,1-01-01 00:03:35,1-01-01 00:04:28,2024-12-13 00:00:00,2:27:00,476,00:21:15
6,HLizz,NaN,1:25:00,NaN,00:18:0055,00:00:00,1-01-01 00:03:03,2024-12-13 00:00:00,2024-12-13 00:00:00,35:0021s.,112,00:4:14
7,GMark,NaN,5:38:00,NaN,00:40:0023,00:59:0034,2024-12-13 00:00:10,1-01-01 00:02:59,2024-12-13 00:00:00,2:41:00,408,00:18:44
8,GTJessy,NaN,5:40:00,NaN,00:41:0041,00:59:0037,1-01-01 00:05:42,1-01-01 00:01:31,2024-12-13 00:00:00,2:9:00,464,00:23:47
9,AdminCalls,NaN,35:0036s.,NaN,00:00:00,00:00:00,2024-12-13 00:00:00,2024-12-13 00:00:00,2024-12-13 00:00:00,12:0057s.,43,00:2:2

In [107]:
metrics["Ready:Talk Time"] = metrics["Ready:Talk Time"].apply(
        lambda x: x if len(x) < 8 else '00:' + x)

metrics["Ready:Talk Time"] = metrics["Ready:Talk Time"].str.replace("s.", "")

In [108]:
metrics

,Name?,DAYS WORKED,Ready (t),PENDING,Break (t),Lunch (t),Submitting Lead (t),Bathroom (t),DEAD TIME (t),Ready:Talk Time,Logged calls,Ready:Wrap Time
1,GTFrank,NaN,5:36:00,NaN,00:34:0055,00:59:0043,1-01-01 00:09:12,1-01-01 00:05:01,1-01-01 00:08:17,2:43:00,368,00:22:49
2,HBigC,NaN,1:16:00,NaN,00:18:0023,00:00:00,1-01-01 00:09:23,2024-12-13 00:00:00,1-01-01 00:02:42,00:36:001,75,00:11:23
3,GJason,NaN,5:33:00,NaN,00:39:004,01:01:00,1-01-01 00:09:46,2024-12-13 00:00:13,1-01-01 00:01:57,2:27:00,449,00:15:51
4,GTSteven,NaN,5:38:00,NaN,00:40:0013,01:01:00,1-01-01 00:03:20,1-01-01 00:02:08,1-01-01 00:01:01,2:56:00,346,00:29:38
5,GGOscar,NaN,5:54:00,NaN,00:39:0029,00:59:0053,1-01-01 00:03:35,1-01-01 00:04:28,2024-12-13 00:00:00,2:27:00,476,00:21:15
6,HLizz,NaN,1:25:00,NaN,00:18:0055,00:00:00,1-01-01 00:03:03,2024-12-13 00:00:00,2024-12-13 00:00:00,00:35:0021,112,00:4:14
7,GMark,NaN,5:38:00,NaN,00:40:0023,00:59:0034,2024-12-13 00:00:10,1-01-01 00:02:59,2024-12-13 00:00:00,2:41:00,408,00:18:44
8,GTJessy,NaN,5:40:00,NaN,00:41:0041,00:59:0037,1-01-01 00:05:42,1-01-01 00:01:31,2024-12-13 00:00:00,2:9:00,464,00:23:47
9,AdminCalls,NaN,35:0036s.,NaN,00:00:00,00:00:00,2024-12-13 00:00:00,2024-12-13 00:00:00,2024-12-13 00:00:00,00:12:0057,43,00:2:2

In [109]:
metrics["Ready (t)"] = metrics["Ready (t)"].apply(
        lambda x: x if len(x) < 8 else '00:' + x)

metrics["Ready (t)"] = metrics["Ready (t)"].str.replace("s.", "")

In [110]:
metrics

,Name?,DAYS WORKED,Ready (t),PENDING,Break (t),Lunch (t),Submitting Lead (t),Bathroom (t),DEAD TIME (t),Ready:Talk Time,Logged calls,Ready:Wrap Time
1,GTFrank,NaN,5:36:00,NaN,00:34:0055,00:59:0043,1-01-01 00:09:12,1-01-01 00:05:01,1-01-01 00:08:17,2:43:00,368,00:22:49
2,HBigC,NaN,1:16:00,NaN,00:18:0023,00:00:00,1-01-01 00:09:23,2024-12-13 00:00:00,1-01-01 00:02:42,00:36:001,75,00:11:23
3,GJason,NaN,5:33:00,NaN,00:39:004,01:01:00,1-01-01 00:09:46,2024-12-13 00:00:13,1-01-01 00:01:57,2:27:00,449,00:15:51
4,GTSteven,NaN,5:38:00,NaN,00:40:0013,01:01:00,1-01-01 00:03:20,1-01-01 00:02:08,1-01-01 00:01:01,2:56:00,346,00:29:38
5,GGOscar,NaN,5:54:00,NaN,00:39:0029,00:59:0053,1-01-01 00:03:35,1-01-01 00:04:28,2024-12-13 00:00:00,2:27:00,476,00:21:15
6,HLizz,NaN,1:25:00,NaN,00:18:0055,00:00:00,1-01-01 00:03:03,2024-12-13 00:00:00,2024-12-13 00:00:00,00:35:0021,112,00:4:14
7,GMark,NaN,5:38:00,NaN,00:40:0023,00:59:0034,2024-12-13 00:00:10,1-01-01 00:02:59,2024-12-13 00:00:00,2:41:00,408,00:18:44
8,GTJessy,NaN,5:40:00,NaN,00:41:0041,00:59:0037,1-01-01 00:05:42,1-01-01 00:01:31,2024-12-13 00:00:00,2:9:00,464,00:23:47
9,AdminCalls,NaN,00:35:0036,NaN,00:00:00,00:00:00,2024-12-13 00:00:00,2024-12-13 00:00:00,2024-12-13 00:00:00,00:12:0057,43,00:2:2

In [111]:
metrics["DEAD TIME (t)"] = metrics["DEAD TIME (t)"].apply(lambda x: x.strftime("%H:%M:%S"))
metrics["Submitting Lead (t)"] = metrics["Submitting Lead (t)"].apply(lambda x: x.strftime("%H:%M:%S"))
metrics["Bathroom (t)"] = metrics["Bathroom (t)"].apply(lambda x: x.strftime("%H:%M:%S"))

In [112]:
metrics

,Name?,DAYS WORKED,Ready (t),PENDING,Break (t),Lunch (t),Submitting Lead (t),Bathroom (t),DEAD TIME (t),Ready:Talk Time,Logged calls,Ready:Wrap Time
1,GTFrank,NaN,5:36:00,NaN,00:34:0055,00:59:0043,00:09:12,00:05:01,00:08:17,2:43:00,368,00:22:49
2,HBigC,NaN,1:16:00,NaN,00:18:0023,00:00:00,00:09:23,00:00:00,00:02:42,00:36:001,75,00:11:23
3,GJason,NaN,5:33:00,NaN,00:39:004,01:01:00,00:09:46,00:00:13,00:01:57,2:27:00,449,00:15:51
4,GTSteven,NaN,5:38:00,NaN,00:40:0013,01:01:00,00:03:20,00:02:08,00:01:01,2:56:00,346,00:29:38
5,GGOscar,NaN,5:54:00,NaN,00:39:0029,00:59:0053,00:03:35,00:04:28,00:00:00,2:27:00,476,00:21:15
6,HLizz,NaN,1:25:00,NaN,00:18:0055,00:00:00,00:03:03,00:00:00,00:00:00,00:35:0021,112,00:4:14
7,GMark,NaN,5:38:00,NaN,00:40:0023,00:59:0034,00:00:10,00:02:59,00:00:00,2:41:00,408,00:18:44
8,GTJessy,NaN,5:40:00,NaN,00:41:0041,00:59:0037,00:05:42,00:01:31,00:00:00,2:9:00,464,00:23:47
9,AdminCalls,NaN,00:35:0036,NaN,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:12:0057,43,00:2:2

In [113]:
metrics.to_csv("Daily_fixed.csv")